#box{
  width: 100px;
  height:100px;
  display: flex;
  line-height: 100px;
  margin: 0 auto;
  text-align: center;
  color: #bff;
  font-weight: 700;
  transition: 100ms linear;
  transform: translateX(100px);
  background: linear-gradient(to top,#fff,#000);
}


#box{
  padding-top: 50px;
}